<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> My First Django App </title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'interests/css/materialize.css' %}">
        <script type = 'text/javascript' src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type = 'text/javascript' src = "{% static 'interests/js/materialize.js' %}"></script>
    </head>
    <body>
        <div class="container">
            <h1 class="purple-text">Welcome to the Interests App Landing</h1>
            <h4>
                <a href="interests/users">Users and Interests</a>
            </h4>

        </div>
    </body>
</html>